*{
	padding: 0;
	margin: 0;
}

#errormessage{
	color: #f55;
}

body{
	background-color: #ffdbc9;
	font-size: 0.9em;
	font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
}

#all{
	background-color: #fff;
	margin: 0 auto;
	width: 500px;
	padding: 10px;

}

dt{
	font-size: 1.1em;
}

h1{
	font-size: 1.4em;
	text-align: center;
	margin: 10px;
}

h2{
	font-size: 1.3em;
}